body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 120px;
  display: flex;
  justify-content: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;
}

nav .active a,
nav a:hover {
  color: #fff;
  background-color: #39aae1;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.banner-headline {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.banner-headline h1 {
  max-width: 350px;
  color: #fff;
  font-size: 70px;
  text-shadow: 0px 1px #555;
  padding: 0;
  margin: 0;
}

.banner-headline h2 {
  max-width: 350px;
  color: #fff;
  font-size: 21px;
  text-shadow: 0px 1px #555;
  padding: 0;
  margin: 0;
}

.banner-options {
  height: 210px;
}

#banner {
  height: 670px;
  display: flex;
  justify-content: center;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
}
