* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

header {
  height: 120px;
  display: flex;
  justify-content: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}

nav .active a,
nav a:hover {
  background-color: #39aae1;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.banner-headline {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.banner-headline h1 {
  max-width: 350px;
  font-size: 70px;
  text-shadow: 0px 1px #555;
  padding: 0;
  margin: 0;
}

.banner-headline h2 {
  max-width: 350px;
  font-size: 21px;
  text-shadow: 0px 1px #555;
  padding: 0;
  margin: 0;
}

.banner-options {
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}
.banner2 {
  background-color: #0079c7;
}
.banner3 {
  background-color: #39aae1;
}

.banner-tittle {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.banner-desc {
  font-size: 12px;
  padding: 20px 0px;
}

.banner-options a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
}

.hour-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #777;
}

.hour-item + .opening-hours {
  margin-top: 10px;
}

#banner {
  height: 670px;
  display: flex;
  justify-content: center;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
}
